*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherited the box-sizing property in the body selector to apply in the entire document */
  box-sizing: inherit; }

body {
  /* let us customize the box size model with specific unit without the default values */
  box-sizing: border-box;
  font-family: sans-serif; }

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .navbar__top-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 768px) {
      .navbar__top-wrapper {
        justify-content: space-between;
        height: 60px; } }
    @media (max-width: 512px) {
      .navbar__top-wrapper {
        justify-content: center;
        height: 75px; } }
    .navbar__top-wrapper .navbar__logo-wrapper {
      display: flex;
      align-items: center;
      list-style: none; }
      .navbar__top-wrapper .navbar__logo-wrapper__menu {
        width: 300px;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 768px) {
          .navbar__top-wrapper .navbar__logo-wrapper__menu {
            width: 220px;
            margin-left: 1rem; } }
    .navbar__top-wrapper .navbar__right-wrapper {
      list-style: none;
      margin-right: 3rem; }
      .navbar__top-wrapper .navbar__right-wrapper__list {
        display: flex;
        margin-top: 1rem;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 768px) {
          .navbar__top-wrapper .navbar__right-wrapper__list {
            margin-top: .6rem;
            /* Extra Small Devices, Phones */
            /* Small Devices, Tablets */
            /* Medium Devices */
            /* Large Devices, Wide Screens */ } }
  @media (max-width: 768px) and (max-width: 512px) {
    .navbar__top-wrapper .navbar__right-wrapper__list {
      display: none; } }
        .navbar__top-wrapper .navbar__right-wrapper__list span {
          display: block;
          font-size: 12px;
          font-weight: 400;
          color: #000;
          /* Extra Small Devices, Phones */
          /* Small Devices, Tablets */
          /* Medium Devices */
          /* Large Devices, Wide Screens */ }
          @media (max-width: 768px) {
            .navbar__top-wrapper .navbar__right-wrapper__list span {
              font-size: 10px; } }
        .navbar__top-wrapper .navbar__right-wrapper__list__link {
          font-size: 16px;
          font-weight: 700;
          line-height: 18px;
          text-decoration: none;
          text-transform: uppercase;
          margin: 0 10px;
          color: #00a0f8;
          /* Extra Small Devices, Phones */
          /* Small Devices, Tablets */
          /* Medium Devices */
          /* Large Devices, Wide Screens */ }
          @media (max-width: 768px) {
            .navbar__top-wrapper .navbar__right-wrapper__list__link {
              font-size: 14px; } }
  .navbar__middle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 50px;
    padding: 7px 0;
    background-color: #fff;
    border-bottom: 1px solid #D7D7D9;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 1024px) {
      .navbar__middle-wrapper {
        height: 40px; } }
    @media (max-width: 768px) {
      .navbar__middle-wrapper {
        height: 33px; } }
    @media (max-width: 512px) {
      .navbar__middle-wrapper {
        display: none; } }
    .navbar__middle-wrapper__list {
      /* Extra Small Devices, Phones */
      /* Small Devices, Tablets */
      /* Medium Devices */
      /* Large Devices, Wide Screens */ }
      @media (max-width: 768px) {
        .navbar__middle-wrapper__list:nth-child(10) {
          display: none; }
        .navbar__middle-wrapper__list:nth-child(11) {
          display: none; } }
      .navbar__middle-wrapper__list__link {
        font-size: 13px;
        font-weight: 900;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 .5rem;
        color: #000;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 1024px) {
          .navbar__middle-wrapper__list__link {
            font-size: 10px;
            margin: 0 .3rem; } }
        .navbar__middle-wrapper__list__link--active {
          font-size: 14px;
          color: #fff;
          padding: 18px 15px 16px 15px;
          background-color: #00a0f8;
          /* Extra Small Devices, Phones */
          /* Small Devices, Tablets */
          /* Medium Devices */
          /* Large Devices, Wide Screens */
          /* Extra Small Devices, Phones */
          /* Small Devices, Tablets */
          /* Medium Devices */
          /* Large Devices, Wide Screens */ }
          @media (max-width: 1024px) {
            .navbar__middle-wrapper__list__link--active {
              font-size: 13px;
              padding: 14px 15px 11px 15px; } }
          @media (max-width: 768px) {
            .navbar__middle-wrapper__list__link--active {
              font-size: 13px;
              padding: 11px 12px 6px 12px; } }
        .navbar__middle-wrapper__list__link--sign {
          font-size: 16px;
          text-transform: initial;
          /* Extra Small Devices, Phones */
          /* Small Devices, Tablets */
          /* Medium Devices */
          /* Large Devices, Wide Screens */ }
          @media (max-width: 1024px) {
            .navbar__middle-wrapper__list__link--sign {
              font-size: 12px; } }
      .navbar__middle-wrapper__list__chevron {
        width: 12px;
        margin-left: .5rem;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 768px) {
          .navbar__middle-wrapper__list__chevron {
            width: 9px;
            margin-left: .1rem; } }
      .navbar__middle-wrapper__list__weather {
        margin-top: 2px;
        width: 60px;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 1024px) {
          .navbar__middle-wrapper__list__weather {
            width: 50px; } }
      .navbar__middle-wrapper__list__search {
        margin-top: 8px;
        margin-right: 12px;
        width: 21px;
        /* Extra Small Devices, Phones */
        /* Small Devices, Tablets */
        /* Medium Devices */
        /* Large Devices, Wide Screens */ }
        @media (max-width: 1024px) {
          .navbar__middle-wrapper__list__search {
            width: 18px; } }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4D4D4D; }

.main-container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 5rem;
  background-color: #FAFAFA;
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices */
  /* Large Devices, Wide Screens */ }
  @media (max-width: 768px) {
    .main-container {
      padding: 1rem; } }
  .main-container .title__header {
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 1px;
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: #333; }
  .main-container .title__author {
    font-size: 13px;
    line-height: 14px;
    font-weight: 900;
    color: #222;
    padding: .5rem;
    border: 1px solid #E6E6E6; }
  .main-container .title__figure {
    margin-top: 1rem; }
    .main-container .title__figure__img {
      margin: 0 auto;
      width: 100%;
      height: 100%; }
    .main-container .title__figure__social-media {
      margin-top: 1rem;
      width: 330px;
      width: 100%; }
    .main-container .title__figure__caption {
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 1rem;
      color: #4c4c4c; }
  .main-container .main-content {
    margin-top: 1rem; }
    .main-container .main-content__paragraph {
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      margin-top: .6rem;
      color: #333333; }
    .main-container .main-content__heading {
      font-size: 24px;
      margin-top: 1.5rem;
      color: #222; }
    .main-container .main-content__figure__img {
      margin-top: 1rem;
      width: 700px;
      width: 100%; }
    .main-container .main-content__figure__img-data {
      margin-top: 1rem;
      width: 700px;
      width: 100%; }

.footer {
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: center;
  list-style: none;
  color: #fff;
  background-color: #091528; }
  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%; }
  .footer__figure {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    padding: 1rem 0; }
    .footer__figure__logo {
      width: 220px;
      height: 100%; }
  .footer__first__list {
    list-style: inherit;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 768px) {
      .footer__first__list {
        margin-right: 2rem; } }
    @media (max-width: 512px) {
      .footer__first__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__first__list__items {
      margin-top: 5px; }
      .footer__first__list__items:first-child {
        font-size: 13px;
        margin-bottom: 15px; }
  .footer__second__list {
    list-style: inherit;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 768px) {
      .footer__second__list {
        margin-right: 2rem; } }
    @media (max-width: 512px) {
      .footer__second__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__second__list__items {
      margin-top: 5px; }
      .footer__second__list__items:first-child {
        font-size: 13px;
        margin-bottom: 15px; }
  .footer__third__list {
    list-style: inherit;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 768px) {
      .footer__third__list {
        margin-right: 2rem; } }
    @media (max-width: 512px) {
      .footer__third__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__third__list__items {
      margin-top: 5px; }
      .footer__third__list__items:first-child {
        font-size: 13px;
        margin-bottom: 15px; }
  .footer__fourth__list {
    list-style: inherit;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__fourth__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__fourth__list__items {
      margin-top: 5px; }
  .footer__fifth__list {
    list-style: inherit;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 768px) {
      .footer__fifth__list {
        margin-left: 2rem; } }
    @media (max-width: 512px) {
      .footer__fifth__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__fifth__list__items {
      margin-top: 5px; }
      .footer__fifth__list__items:first-child {
        font-size: 13px;
        margin-bottom: 15px; }
  .footer__sixth__list {
    list-style: inherit;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__sixth__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__sixth__list__items {
      margin-top: 5px; }
      .footer__sixth__list__items:first-child {
        font-size: 13px;
        margin-bottom: 15px; }
  .footer__seventh__list {
    list-style: inherit;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__seventh__list {
        flex: 0 0 50%;
        margin: 0 0 1rem 0; } }
    .footer__seventh__list__items {
      margin-top: 5px; }
      .footer__seventh__list__items:first-child {
        font-size: 13px;
        margin-bottom: 15px; }
  .footer__eighth__list {
    list-style: inherit;
    /* Extra Small Devices, Phones */
    /* Small Devices, Tablets */
    /* Medium Devices */
    /* Large Devices, Wide Screens */ }
    @media (max-width: 512px) {
      .footer__eighth__list {
        flex: 0 0 50%;
        margin-right: 0; } }
    .footer__eighth__list__items {
      margin-top: 5px; }
      .footer__eighth__list__items:first-child {
        font-size: 13px;
        margin-bottom: 15px; }
  .footer__legal-wrapper {
    flex: 0 0 100%;
    font-weight: 300;
    text-align: center;
    margin: 2rem;
    padding-top: 1rem;
    list-style: inherit;
    border-top: 1px solid #686C73; }
    .footer__legal-wrapper__text {
      margin-top: 5px; }
